.post {

  margin-top: 30px;
  border-radius: 10px;
  padding-top: 10px;


  .post-content {
   p {
     white-space: pre-wrap;
   }
  }
  .time {
    p {
      text-align: right;
      color: gray;
      font-size: 14px;
    }
  }
  .post-likes {
    p {
      font-size: 16px;
      color: black;
    }
    strong {
      font-weight: bolder;
    }
  }

  .post-submit {
    button {
      padding-left: 20px;
      padding-right: 20px;
      border: 0;
      border-radius: 4px;
      margin-left: 10px;
      margin-bottom: 20px;
      filter: brightness(110%);

      #submit-button-text {
        filter: brightness(70%);
      }
    }

    button:hover {
      filter: brightness(90%);
    }
  }

  .author {
    a {
      filter: brightness(50%);
    }
    


    a:hover {
      filter: brightness(30%);
      text-decoration: none;
    }
  }
}

.post-content-editable {
  textarea {
    border: 0;
    width: 100%;
    resize: none;

  }

  textarea::placeholder {
    color: gray;
  }

  textarea:focus {
    border: 0;
    outline: 0;
  }
}

.profile-name-section {
  margin-top: 30px;
  h3 {
    text-align: center;
  }
}

.follow-info-section {
  p {
    text-align: center;
  }
}

p#no-following-message {
  margin-top: 40vh;
  text-align: center;
  font-family: sans-serif;
  font-size: 200%;

}

@keyframes post-animation {
  0% {
    //filter: brightness(200%);
    line-height: 0;
    height: 0;
    opacity: 0;
    padding: 0;
    margin: 0;
  }


  75% {
    //filter: brightness(200%);
    line-height: inherit;
    height: inherit;
    opacity: 0;
    padding: inherit;

  }

  100% {
    //filter: brightness(100%);
    line-height: inherit;
    opacity: 1;
    margin: inherit;
  }
}

.post-animate {
  animation-name: post-animation;
  animation-fill-mode: forwards;
  animation-duration: 2s;
}